select:hover {
    transform:scale(5)
    rotate(290deg)
}

.productForm__button:hover {
    animation: spin 1s infinite linear;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    border-color:hotpink;
    border-style: dotted;
    border-width: 1rem;
    color: white;
    text-shadow: black 1px 0 10px;
    font-weight: 900;
}

@keyframes spin {
    100% {transform: rotate(1turn)}
}

.form-control-productForm {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-productForm:hover {
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red, orange, yellow, green, blue, indigo, violet, red);
    background-size: 200% auto;
    animation: gradientFlow 1s linear infinite
}

@keyframes gradientFlow {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}